<section id="faq" class="px-10 grid grid-cols-2 gap-5 items-start">
  <div class="col-span-2 flex items-center space-x-5">
    <div class="w-10 h-0 border opacity-50" />
    <h1 class="col-span-1 font-semibold">FAQ</h1>
  </div>

  <div class="flex items-center space-x-5 col-span-2 md:col-span-1">
    <h1 class="text-4xl font-display font-semibold">
      ANSWERS TO YOUR
      <br>
      <span class="text-primary">PARAGLIDING QUESTIONS</span>
    </h1>
  </div>

  <p class="col-span-2 md:col-span-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>

  <div class="col-span-2 flex flex-col space-y-5">
    <!-- Accordion Item 1 -->
    <div id="accordion-button-1" class="border rounded-xl border-slate-200 hover:cursor-pointer px-3 py-4 transition-all">
      <div
        class="w-full flex justify-between items-center"
      >
        <span id="header-1" class="font-semibold text-neutral-500">Is paragliding safe?</span>
        <span
          id="icon-1"
          class="transition-transform duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
            ></path>
          </svg>
        </span>
      </div>
      <div
        id="content-1"
        class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
      >
        <div class="mt-5 text-neutral-500">
          Yes, paragliding is a safe activity when performed under the guidance
          of experienced professionals. At our agency, safety is our top
          priority. All of our instructors are certified, and we conduct
          thorough pre-flight checks on all equipment. We also assess weather
          conditions before each flight and provide a safety briefing for all
          participants. We follow strict safety protocols, including wearing
          helmets and harnesses and using reserve parachutes on every flight.
        </div>
      </div>
    </div>

    <!-- Accordion Item 2 -->
    <div id="accordion-button-2" class="border rounded-xl border-slate-200 hover:cursor-pointer px-3 py-4 transition-all">
      <div
        class="w-full flex justify-between items-center"
      >
        <span id="header-2" class="font-semibold text-neutral-500"
          >Do I need any prior experience or training to go paragliding?</span
        >
        <span
          id="icon-2"
          class="transition-transform duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
            ></path>
          </svg>
        </span>
      </div>
      <div
        id="content-2"
        class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
      >
        <div class="mt-5 text-neutral-500">
          No prior experience is required! We offer tandem flights where a
          certified instructor will control the paraglider while you enjoy the
          ride. All you need to do is relax and follow the instructor's
          guidance. If you're interested in learning to paraglide solo, we also
          offer beginner courses where you’ll be taught everything you need to
          know.
        </div>
      </div>
    </div>

    <!-- Accordion Item 3 -->
    <div id="accordion-button-3" class="border rounded-xl border-slate-200 hover:cursor-pointer px-3 py-4 transition-all">
      <div
        class="w-full flex justify-between items-center"
      >
        <span id="header-3" class="font-semibold text-neutral-500">
          What if I'm afraid of heights? Can I still go paragliding?
        </span>
        <span
          id="icon-3"
          class="transition-transform duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
            ></path>
          </svg>
        </span>
      </div>
      <div
        id="content-3"
        class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
      >
        <div class="mt-5 text-neutral-500">
          It’s completely normal to be nervous about heights, but many people
          who are afraid of heights find paragliding to be an exhilarating
          experience. When paragliding, you don't get the same vertigo sensation
          that occurs when standing at the edge of a building or cliff. Your
          body becomes accustomed to the altitude quickly, and the sensation of
          flight feels more like floating rather than falling. If you're still
          uncertain, our instructors will help you feel comfortable before the
          flight.
        </div>
      </div>
    </div>

    <!-- Accordion Item 4 -->
    <div id="accordion-button-4" class="border rounded-xl border-slate-200 hover:cursor-pointer px-3 py-4 transition-all">
      <div
        class="w-full flex justify-between items-center"
      >
        <span id="header-4" class="font-semibold text-neutral-500">
          What should I wear and bring for the flight?
        </span>
        <span
          id="icon-4"
          class="transition-transform duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
            ></path>
          </svg>
        </span>
      </div>
      <div
        id="content-4"
        class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
      >
        <div class="mt-5 text-neutral-500">
          We recommend wearing comfortable clothing and sturdy, closed-toe
          shoes, such as sneakers or hiking boots. Since temperatures can drop
          at higher altitudes, bringing a jacket or windbreaker is advisable.
          Sunglasses are also useful to protect your eyes from the sun and wind.
          We’ll provide all the necessary flying equipment, including helmets
          and harnesses.
        </div>
      </div>
    </div>

    <!-- Accordion Item 5 -->
    <div id="accordion-button-5" class="border rounded-xl border-slate-200 hover:cursor-pointer px-3 py-4 transition-all">
      <div
        class="w-full flex justify-between items-center"
      >
        <span id="header-5" class="font-semibold text-neutral-500">
          What happens if the weather conditions aren’t ideal on the day of my
          flight?
        </span>
        <span
          id="icon-5"
          class="transition-transform duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
            ></path>
          </svg>
        </span>
      </div>
      <div
        id="content-5"
        class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
      >
        <div class="mt-5 text-neutral-500">
          Weather plays a crucial role in paragliding, and safety always comes
          first. If conditions are not ideal, such as strong winds or rain, we
          may need to reschedule your flight for another day. Our team will
          monitor the weather closely and inform you in advance if any changes
          are needed. In case of postponement due to weather, we offer flexible
          rescheduling options at no extra cost.
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  toggleAccordion(1)

  for (let i = 1; i <= 5; i++) {
    const button = document.getElementById(`accordion-button-${i}`);
    if (!button) continue;

    button.addEventListener('click', () => toggleAccordion(i));
  }

  function toggleAccordion(index: number) {
    const container = document.getElementById(`accordion-button-${index}`);
    const content = document.getElementById(`content-${index}`);
    const header = document.getElementById(`header-${index}`);
    const icon = document.getElementById(`icon-${index}`);

    if (!content || !icon || !container || !header) return;

    // SVG for Minus icon
    const minusSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z" />
      </svg>
    `;

    // SVG for Plus icon
    const plusSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
      </svg>
    `;

    // Toggle the content's max-height for smooth opening and closing
    if (content.style.maxHeight && content.style.maxHeight !== '0px') {
      content.style.maxHeight = '0';
      icon.innerHTML = plusSVG;
      header.style.color = 'oklch(0.556 0 0)';
      container.style.boxShadow = '';
      container.style.borderColor = 'oklch(0.929 0.013 255.508)';
    } else {
      content.style.maxHeight = content.scrollHeight + 'px';
      icon.innerHTML = minusSVG;
      header.style.color = 'black';
      container.style.boxShadow = 'rgba(99, 99, 99, 0.2) 0px 2px 8px 0px';
      container.style.borderColor = 'oklch(0.869 0.022 252.894)';
    }

  }
</script>
